.ta{
    height: 650px;
    
    font-size: 15px;
    text-align: justify;
    line-height: 19px;
    overflow-y:auto;
}
.tb{
    height: 770px;
    
    font-size: 15px;
    text-align: justify;
    line-height: 19px;
    overflow-y:auto;
}
